
          <div class="blog-layout layout-8" style="display: block; max-width: 85%;padding:100px;">
            <div class="blog-title">
              <h2>articles, videos and memes</h2>
            </div><!-- Blog title -->
            <div class="blog-wrapper row">
              <div class="col col-sm-12">
                <article class="post">
                  <div class="post-thumb">
                    <a ui-sref="article">
                      <img class="lazy" src="img/hollywood.jpg" data-src="img/hollywood.jpg" alt="Post Title Placeholder" />
                    </a>
                  </div><!-- Post Image -->
                  <div class="post-content">
                    <h4 class="post-title">
                      <a ui-sref="article">Pourim: The Miracle</a>
                    </h4><!-- Post Title -->
                    <ul class="post-meta">
                      <li><i class="fa fa-clock-o"></i> October 16, 2017</li>
                      <li><i class="fa fa-comment-o"></i> Article</li>
                    </ul><!-- Post Meta -->
                    <p class="post-entry">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus tenetur quisquam ut, quas praesentium dolores iure ullam molestias aperiam vero, saepe inventore est veniam ipsum...</p><!-- Post Entry -->
                  </div><!-- Post Content -->
                </article><!-- Post -->
              </div><!-- Column -->
              <div class="col col-sm-12">
                <article class="post">
                  <div class="post-thumb">
                    <a ui-sref="post-single">
                      <img class="lazy" src="images/22.jpg" data-src="images/22.jpg" alt="Post Title Placeholder" />
                    </a>
                    <span class="post-format">
                      <i class="fa fa-play"></i>
                    </span>
                  </div><!-- Post Image -->
                  <div class="post-content">
                    <h4 class="post-title">
                      <a ui-sref="post-single">Hanukkah: The Miracle</a>
                    </h4><!-- Post Title -->
                    <ul class="post-meta">
                      <li><i class="fa fa-clock-o"></i> October 16, 2017</li>
                      <li><i class="fa fa-comment-o"></i> 240</li>
                    </ul><!-- Post Meta -->
                    <p class="post-entry">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus tenetur quisquam ut, quas praesentium dolores iure ullam molestias aperiam vero, saepe inventore est veniam ipsum...</p><!-- Post Entry -->
                  </div><!-- Post Content -->
                </article><!-- Post -->
              </div><!-- Column -->
              <div class="col col-sm-12">
                <article class="post">
                  <div class="post-thumb">
                    <a ui-sref="post-single">
                      <img class="lazy" src="images/6.jpg" data-src="images/6.jpg" alt="Post Title Placeholder" />
                    </a>
                  </div><!-- Post Image -->
                  <div class="post-content">
                    <h4 class="post-title">
                      <a ui-sref="post-single">Pessah: The Miracle</a>
                    </h4><!-- Post Title -->
                    <ul class="post-meta">
                      <li><i class="fa fa-clock-o"></i> October 16, 2017</li>
                      <li><i class="fa fa-comment-o"></i> 240</li>
                    </ul><!-- Post Meta -->
                    <p class="post-entry">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus tenetur quisquam ut, quas praesentium dolores iure ullam molestias aperiam vero, saepe inventore est veniam ipsum...</p><!-- Post Entry -->
                  </div><!-- Post Content -->
                </article><!-- Post -->
              </div><!-- Column -->
              <div class="col col-sm-12">
                <article class="post">
                  <div class="post-thumb">
                    <a ui-sref="post-single">
                      <img class="lazy" src="images/9.jpg" data-src="images/9.jpg" alt="Post Title Placeholder" />
                    </a>
                    <span class="post-format">
                      <i class="fa fa-soundcloud"></i>
                    </span>
                  </div><!-- Post Image -->
                  <div class="post-content">
                    <h4 class="post-title">
                      <a ui-sref="post-single">Rosh Hashana: The Head Of The Year</a>
                    </h4><!-- Post Title -->
                    <ul class="post-meta">
                      <li><i class="fa fa-clock-o"></i> October 16, 2017</li>
                      <li><i class="fa fa-comment-o"></i> 240</li>
                    </ul><!-- Post Meta -->
                    <p class="post-entry">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus tenetur quisquam ut, quas praesentium dolores iure ullam molestias aperiam vero, saepe inventore est veniam ipsum...</p><!-- Post Entry -->
                  </div><!-- Post Content -->
                </article><!-- Post -->
              </div><!-- Column -->
              <div class="col col-sm-12">
                <article class="post">
                  <div class="post-thumb">
                    <a ui-sref="post-single">
                      <img class="lazy" src="images/11.jpg" data-src="images/11.jpg" alt="Post Title Placeholder" />
                    </a>
                    <span class="post-format">
                      <i class="fa fa-camera"></i>
                    </span>
                  </div><!-- Post Image -->
                  <div class="post-content">
                    <h4 class="post-title">
                      <a ui-sref="post-single">Yom Kippur: How To Forgive</a>
                    </h4><!-- Post Title -->
                    <ul class="post-meta">
                      <li><i class="fa fa-clock-o"></i> October 16, 2017</li>
                      <li><i class="fa fa-comment-o"></i> 240</li>
                    </ul><!-- Post Meta -->
                    <p class="post-entry">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus tenetur quisquam ut, quas praesentium dolores iure ullam molestias aperiam vero, saepe inventore est veniam ipsum...</p><!-- Post Entry -->
                  </div><!-- Post Content -->
                </article><!-- Post -->
              </div><!-- Column -->
              <div class="col col-sm-12">
                <article class="post">
                  <div class="post-thumb">
                    <a ui-sref="post-single">
                      <img class="lazy" src="images/12.jpg" data-src="images/12.jpg" alt="Post Title Placeholder" />
                    </a>
                  </div><!-- Post Image -->
                  <div class="post-content">
                    <h4 class="post-title">
                      <a ui-sref="post-single">Sukkot: Lulav &amp; Sukkah</a>
                    </h4><!-- Post Title -->
                    <ul class="post-meta">
                      <li><i class="fa fa-clock-o"></i> October 16, 2017</li>
                      <li><i class="fa fa-comment-o"></i> 240</li>
                    </ul><!-- Post Meta -->
                    <p class="post-entry">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus tenetur quisquam ut, quas praesentium dolores iure ullam molestias aperiam vero, saepe inventore est veniam ipsum...</p><!-- Post Entry -->
                  </div><!-- Post Content -->
                </article><!-- Post -->
              </div><!-- Column -->
              <div class="col col-sm-12">
                <article class="post">
                  <div class="post-thumb">
                    <a ui-sref="post-single">
                      <img class="lazy" src="images/5.jpg" data-src="images/5.jpg" alt="Post Title Placeholder" />
                    </a>
                    <span class="post-format">
                      <i class="fa fa-play"></i>
                    </span>
                  </div><!-- Post Image -->
                  <div class="post-content">
                    <h4 class="post-title">
                      <a ui-sref="post-single">Tisha Be'Av</a>
                    </h4><!-- Post Title -->
                    <ul class="post-meta">
                      <li><i class="fa fa-clock-o"></i> October 16, 2017</li>
                      <li><i class="fa fa-comment-o"></i> 240</li>
                    </ul><!-- Post Meta -->
                    <p class="post-entry">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus tenetur quisquam ut, quas praesentium dolores iure ullam molestias aperiam vero, saepe inventore est veniam ipsum...</p><!-- Post Entry -->
                  </div><!-- Post Content -->
                </article><!-- Post -->
              </div><!-- Column -->
            </div><!-- Blog Wrapper -->
          </div><!-- Blog Layout -->
          <div class="blog-pagination">
            <ul>
              <li class="active"><a ui-sref="index">1</a></li>
              <li><a ui-sref="#">2</a></li>
              <li><a ui-sref="#">3</a></li>
              <li><span>...</span></li>
              <li><a ui-sref="#">10</a></li>
              <li class="next-page"><a ui-sref="#">Page Next <i class="fa fa-angle-right"></i></a></li>
              <li class="total-pages">1 page of 99</li>
            </ul>
          </div>