  <!-- footer Start -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="footer-manu">
            <ul>
              <li><a href="/#portfolio-work">Case Studies</a></li>
              <li><a href="/#services">Services</a></li>
              <li><a href="/#contact-form">Contact</a></li>
              <li><a href="http://www.newoldroad.com/blog">Blog</a></li>
            </ul>
          </div>
          <p>Copyright New Old Road, LLC &copy;2018. All rights reserved.</p>

<!--           <ul class="social-icons footer-manu">
            <li>
              <a href="https://www.linkedin.com/company-beta/18133762/"><i class="fa fa-linkedin"></i></a>
            </li>
            <li>
              <a href="http://www.twitter.com/newoldroad"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
              <a href="http://www.facebook.com/newoldroad"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
              <a href="http://www.instagram.com/newoldroad"><i class="fa fa-instagram"></i></a>
            </li>
          </ul> -->
        </div>
      </div>
    </div>
  </footer>
    <script
    src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
    <script>
    $(function() {
      $('.card').on('click', function() {
        var href = $(this).data('href');
        if (href)
          window.location.href = href;
      });
    });
    </script>
      <script src="https://embed.small.chat/T74Q43XM5G73RS1A1K.js" async></script>
<!--   <script src="/angular/angular.js"></script>
  <script src="/@uirouter/angularjs/release/angular-ui-router.js"></script> -->
  <script src="jquery/dist/jquery.min.js"></script>
  

  <!-- js folder -->
  <!-- <script src="js/app.js"></script> -->
  <script src="js/main.js"></script>
  <script src="js/vendor/modernizr-2.6.2.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/plugins.js"></script>
  <script src="js/min/waypoints.min.js"></script>
  <script src="js/jquery.counterup.js"></script>
  <!-- for Google Map -->
  <!-- <script src="https://maps.googleapis.com/maps/api/js"></script>
  <script src="js/google-map-init.js"></script> -->

  <!-- external JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.1.0/velocity.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.1.0/velocity.ui.js"></script>
  <script src="https://cdn.rawgit.com/download/glyphicons/0.1.0/glyphicons.js"></script>
  <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
  <script>
    $(".hamburger_menu_mobile").click(function(){
      alert("hi");
      $("#btn1").toggle();
      $("#btn2").toggle();
      $("#btn3").toggle();
    });
  </script>
</body>
</html>