/*		Default Layout: 992px. 
		Gutters: 24px.
		Outer margins: 48px.
		Leftover space for scrollbars @1024px: 32px.
-------------------------------------------------------------------------------
cols    1     2      3      4      5      6      7      8      9      10
px      68    160    252    344    436    528    620    712    804    896    */
/*		Tablet Layout: 768px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  /*---------------------------------------------
					Index Start 
-----------------------------------------------*/
  /*--
	wrapper Start 
--*/
  #wrapper {
    text-align: center;
  }
  #wrapper .block img {
    padding-top: 100px;
    width: 50%;
  }
  /*--
	content Start 
--*/
  #content {
    text-align: center;
  }
  #content .block {
    padding-bottom: 100px;
  }
  /*--
	features Start 
--*/
  #features {
    text-align: center;
  }
  /*--
	footer Start 
--*/
  footer .navbar {
    margin-bottom: 0px;
    border: 0px;
    min-height: 40px;
  }
  footer .navbar-default {
    border: 0px;
    width: 68%;
  }
  footer .navbar-default .navbar-nav li a {
    color: #494949;
    padding: 10px 10px;
    font-size: 15px;
  }
  footer .navbar-default .navbar-nav li a:hover {
    color: #000;
  }
  /*---------------------------------------------
					Index Close 
-----------------------------------------------*/
  /*=============================================*/
  /*---------------------------------------------
					Work Start 
-----------------------------------------------*/
  /*--
	slider-work Start 
--*/
  #slider-work .block h1 {
    font-size: 28px;
  }
  #slider-work .block p {
    font-size: 15px;
  }
  /*--
	portfolio Start 
--*/
  #portfolio-work .block .portfolio-manu {
    padding-left: 0px;
  }
  #portfolio-work .block .portfolio-contant ul li a .img-heading {
    padding: 5px 0 5px 13px;
  }
  #portfolio-work .block .portfolio-contant ul li a .img-heading h2 {
    font-size: 20px;
    line-height: 25px;
  }
  #portfolio-work .block .portfolio-contant ul li a .img-heading p {
    font-size: 11px;
    line-height: 20px;
  }
  #portfolio-work .block .portfolio-contant ul li a .overlay {
    padding-left: 15px;
  }
  #portfolio-work .block .portfolio-contant ul li a .overlay h2 {
    padding-top: 30px;
    padding-bottom: 15px;
    font-size: 20px;
    line-height: 25px;
  }
  #portfolio-work .block .portfolio-contant ul li a .overlay p {
    font-size: 11px;
    line-height: 20px;
    padding-top: 15px;
  }
  /*--
	wrapper Start 
--*/
  #wrapper-work ul li .items-text {
    padding-top: 0;
    padding-left: 25px;
  }
  #wrapper-work ul li .items-text h2 {
    padding-bottom: 10px;
    padding-top: 40px;
  }
  #wrapper-work ul li .items-text p {
    font-size: 14px;
    line-height: 20px;
    padding-right: 30px;
  }
  /*--
	features Start 
--*/
  #features-work .block ul li {
    width: 49%;
  }
  /*---------------------------------------------
					Work close 
-----------------------------------------------*/
  /*=============================================*/
  /*---------------------------------------------
					contact start 
-----------------------------------------------*/
  #wrapper-contact .block {
    padding-bottom: 50px;
  }
  /*--
	features-contact Start 
--*/
  #features-contact .block ul li {
    width: 49%;
  }

 
  /*---------------------------------------------
					contact close 
-----------------------------------------------*/
  /*------------------*/
}
/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */
@media only screen and (max-width: 767px) {
  /*---------------------------------------------
					Index Start 
-----------------------------------------------*/
html, body {
  width: 100%;
  overflow-x: hidden !important;
  box-sizing: border-box;
}



.heading {
    padding-left: 0px;
  }
  h2 {
    font-size: 18px;
  }
  p {
    font-size: 13px;
  }
  header .navbar-default .navbar-toggle {
    margin-top: 55px;
/*    margin-bottom: 20px;*/

  }
  #slider {
    padding-top: 90px;
    padding-bottom: 100px;
    margin-left: 0;
  }
  #slider .block {
    padding-left: 0px;
  }
  #slider .block h1 {
    font-size: 20px;
  }
  #slider .block p {
    font-size: 13px;
  }
  /*--
	wrapper Start 
--*/
  #wrapper {
    text-align: center;
    padding-top: 70px;
    padding-bottom: 100px;
  }
  #wrapper .block img {
    padding-top: 100px;
    padding-left: 0px;
    width: 100%;
  }
  /*--
	service Start 
--*/
  #service {
    padding-top: 100px;
    padding-left: 15px;
    padding-right: 15px;
  }
  #service .thumbnail {
    padding-bottom: 70px;
  }

  #about {
    padding: 70px 15px;
  }

  #message {
    padding: 0 30px !important;
  }
  /*--
	call-to-action Start 
--*/
  #call-to-action p {
    padding: 0px 0px 40px;
  }
  #call-to-action .btn {
    padding: 10px 20px;
    font-size: 15px;
  }
  /*--
	content Start 
--*/
  #content {
    text-align: center;
    padding-top: 70px;
  }
  #content .block {
    padding-bottom: 100px;
  }
  #content .block h2 {
    padding-top: 0px;
  }
  #content .block-bottom {
    padding: 0px;
  }
  #content .block-bottom .item-img {
    padding-left: 0px;
  }
  /*--
	features Start 
--*/
  #features .features-img {
    text-align: center;
  }
  /*---------------------------------------------
					Index Close 
-----------------------------------------------*/
  /*=============================================*/
  /*---------------------------------------------
					Work Start 
-----------------------------------------------*/
  #slider-work {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  #slider-work .block {
    padding-left: 0px;
  }
  #slider-work .block h1 {
    font-size: 20px;
  }
  #slider-work .block p {
    font-size: 11px;
    line-height: 25px;
  }
  /*--
	portfolio Start 
--*/
  #portfolio-work .block .portfolio-manu {
    padding-left: 0px;
    text-align: center;
  }
  #portfolio-work .block .portfolio-manu ul li {
    padding: 0 8px;
  }
  #portfolio-work .block .portfolio-contant ul li {
    width: 100%;
  }
  #portfolio-work .block .portfolio-contant ul li a .img-heading {
    padding: 5px 0 5px 13px;
  }
  #portfolio-work .block .portfolio-contant ul li a .img-heading h2 {
    font-size: 20px;
    line-height: 25px;
  }
  #portfolio-work .block .portfolio-contant ul li a .img-heading p {
    font-size: 11px;
    line-height: 20px;
  }
  #portfolio-work .block .portfolio-contant ul li a .overlay {
    padding-left: 15px;
  }
  #portfolio-work .block .portfolio-contant ul li a .overlay h2 {
    padding-top: 65px;
    padding-bottom: 15px;
    font-size: 20px;
    line-height: 25px;
  }
  #portfolio-work .block .portfolio-contant ul li a .overlay p {
    font-size: 11px;
    line-height: 20px;
    padding-top: 15px;
    padding-right: 5px;
  }
  /*--
	wrapper Start 
--*/
  #wrapper-work ul li {
    float: none;
    width: 100%;
  }
  #wrapper-work ul li .items-text {
    padding-left: 15px;
    padding-top: 30px;
  }
  #wrapper-work ul li .items-text h2 {
    padding-top: 10px;
    padding-bottom: 15px;
    font-size: 20px;
    line-height: 25px;
  }
  #wrapper-work ul li .items-text p {
    font-size: 11px;
    line-height: 20px;
    padding-top: 15px;
  }
  /*--
	features Start 
--*/
  #features-work .block ul li {
    display: block;
    width: 100%;
  }
  /*---------------------------------------------
					Work close 
-----------------------------------------------*/
  /*=============================================*/
  /*---------------------------------------------
					contact Start 
-----------------------------------------------*/
  /*--
	slider-contact Start 
--*/
  #slider-contact {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  #slider-contact .block {
    padding-left: 0px;
  }
  #slider-contact .block h1 {
    font-size: 20px;
  }
  #slider-contact .block p {
    font-size: 11px;
    line-height: 25px;
  }
  /*--
	wrapper-contact Start 
--*/
  #wrapper-contact .block {
    padding-bottom: 50px;
  }
  #wrapper-contact .block .location p {
    width: 100%;
  }
  #wrapper-contact .block .social-media-icon a i {
    padding-top: 30px;
  }
  /*--
	features-contact Start 
--*/
  #features-contact .block ul li {
    display: block;
    width: 100%;
  }
  /*---------------------------------------------
					contact close 
-----------------------------------------------*/
  /*--
	footer Start 
--*/
  footer .footer-manu {
    display: none;
  }
}
/*		Wide Mobile Layout: 480px.
		Gutters: 24px.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */
/*	Retina media query.
	Overrides styles for devices with a 
	device-pixel-ratio of 2+, such as iPhone 4.
-----------------------------------------------    */


@media (max-width:1090px) {
  body {
    overflow-x: hidden;
  }
  .container {
    width: 90%;
  }
  .topbar {
    text-align: center;
  }
  .topbar .topmenu {
    display: none;
  }
  .topbar .social-links {
    display: inline-block;
    float: none;
  }
  .header-content {
    height: auto;
  }
  .header-content .logo-container {
    float: none;
    height: 50px;
    margin-bottom: 30px;
  }
  .header-content .logo-container .logo {
    margin: auto;
  }
  .header-content .ad-container {
    float: none;
    height: auto;
  }
  .mainmenu .menu {
    display: none;
  }
  .mainmenu .menu-tigger {
    display: block;
  }
  header.header#layout2 .mainmenu .container {
    height: auto;
  }
  header.header#layout2 .mainmenu .menu {
    display: none;
  }
  header.header#layout2 .mainmenu .menu-tigger {
    float: right;
    height: 70px;
    padding: 0;
  }
  header.header#layout3 .mainmenu .container {
    height: auto;
  }
  header.header#layout3 .mainmenu .menu {
    display: none;
  }
  header.header#layout3 .mainmenu .menu-tigger {
    padding: 0;
    color: #111;
  }
  .featured-posts.layout2 .first .post, .featured-posts.layout3 .first .post, .featured-posts.layout4 .first .post {
    height: 320px;
  }
  .featured-posts.layout2 .post.has-caption .post-title {
    font-size: 17px;
  }
  .blog-layout.has-slider .post .post-title {
    font-size: 14px;
    line-height: 17px;
  }
  .blog-layout.has-slider .post .post-content {
    bottom: -40px;
  }
  .blog-layout.has-slider .post .post-category a {
    margin-bottom: 4px;
    padding: 0 5px;
  }
  .blog-layout.has-slider .post .post-meta {
    margin-top: 0;
  }
  .blog-layout.has-slider .owl-controls {
    margin-top: 20px;
  }
  .post-share ul li.facebook a, .post-share ul li.twitter a {
    padding: 0;
  }
  .post-share ul li, .post-share ul li.facebook, .post-share ul li.twitter {
    width: 32px;
    height: 32px;
    font-size: 16px;
    line-height: 32px;
  }
  .post-share ul li.facebook span, .post-share ul li.twitter span {
    display: none;
  }
  .post-share ul li.facebook i, .post-share ul li.twitter i {
    margin: 0;
  }

  .yellowbutton {
    display: none;
  }
  header.header#layout3 .mainmenu.stick-me.sticking {
    display: none;
  }

  div.topbar {
    display: none;
  }
 div.mainmenu.stick-me.not-sticking {
  background-color: black;
 }
  div#mobileres.container {
    background-color: white
  }
}

/* Desktop Size : xs */

@media (min-width:320px) and (max-width:479px) {
  body {
    overflow-x: hidden;
  }
  .container {
    width: 90%;
  }
  .topbar {
    text-align: center;
  }
  .topbar .topmenu {
    display: none;
  }
  .topbar .social-links {
    display: inline-block;
    float: none;
  }
  .header-content {
    height: auto;
  }
  .header-content .logo-container {
    float: none;
    height: 50px;
    margin-bottom: 30px;
  }
  .header-content .logo-container .logo {
    margin: auto;
  }
  .header-content .ad-container {
    float: none;
    height: auto;
  }
  .mainmenu .menu {
    display: none;
  }
  .trending-posts .post .post-thumb {
    height: 105px;
    overflow: hidden;
  }
  .featured-posts.layout1 .post.has-caption .post-content {
    left: 20px;
    right: 20px;
    padding-bottom: 0;
  }
  .featured-posts.layout1 .item .post {
    height: 220px;
  }
  .featured-posts.layout1 .post.has-caption .post-title {
    font-size: 14px;
    line-height: 18px;
  }
  .featured-posts.layout1 .post.has-caption .post-meta, .featured-posts.layout1 .post.has-caption .post-category {
    display: none;
  }
  .featured-posts.layout2 .first .post, .featured-posts.layout3 .first .post, .featured-posts.layout4 .first .post {
    height: 320px;
  }
  .featured-posts.layout2 .post.has-caption .post-title {
    font-size: 17px;
  }
  .blog-layout.has-slider .post .post-title {
    font-size: 14px;
    line-height: 17px;
  }
  .blog-layout.has-slider .post .post-content {
    bottom: -40px;
  }
  .blog-layout.has-slider .post .post-category a {
    margin-bottom: 4px;
    padding: 0 5px;
  }
  .blog-layout.has-slider .post .post-meta {
    margin-top: 0;
  }
  .blog-layout.has-slider .owl-controls {
    margin-top: 20px;
  }
  .post-share ul li.facebook a, .post-share ul li.twitter a {
    padding: 0;
  }
  .post-share ul li.facebook, .post-share ul li.twitter {
    width: 42px;
  }
  .post-share ul li.facebook span, .post-share ul li.twitter span {
    display: none;
  }
  .post-share ul li.facebook i, .post-share ul li.twitter i {
    margin: 0;
  }
}
@media (max-width:600px) {
  .topbar {
    text-align: center;
  }
  .topbar .topmenu {
    display: none;
  }
  .topbar .social-links {
    display: inline-block;
    float: none;
  }
  .trending-posts .post .post-thumb {
    height: 105px;
    overflow: hidden;
  }
  header.header#layout2 .mainmenu .container {
    height: auto;
  }
  header.header#layout2 .mainmenu .menu {
    display: none;
  }
  header.header#layout2 .mainmenu .menu-tigger {
    float: right;
    height: 70px;
    padding: 0;
    margin-left: 20px;
  }
  header.header#layout3 .mainmenu .container {
    height: auto;
  }
  header.header#layout3 .mainmenu .menu {
    display: none;
  }
  header.header#layout3 .mainmenu .menu-tigger {
    padding: 0;
    color: #111;
  }
  .post-share ul li.facebook a, .post-share ul li.twitter a {
    padding: 0;
  }
  .post-share ul li.facebook, .post-share ul li.twitter {
    width: 42px;
  }
  .post-share ul li.facebook span, .post-share ul li.twitter span {
    display: none;
  }
  .post-share ul li.facebook i, .post-share ul li.twitter i {
    margin: 0;
  }
}
@media (max-width:730px) {
  .container {
    width: 100%;
  }
  .header-content {
    height: auto;
  }
  .header-content .logo-container {
    float: none;
    height: 50px;
    margin-bottom: 30px;
  }
  .header-content .logo-container .logo {
    margin: auto;
  }
  .header-content .ad-container {
    float: none;
    height: auto;
  }
  .mainmenu .menu {
    display: none;
  }
  .mainmenu .menu-tigger {
    display: block;
  }
  .post .post-thumb {
    height: auto !important;
  }
  .featured-posts.layout1 .post.has-caption .post-content {
    left: 10%;
    right: 10%;
  }
  #sidebar .instagram-feeds a:last-child {
    display: none;
  }
  .blog-layout.tiny-thumb .post:not(.first) {
    width: 100%;
  }
  .blog-layout.layout-3 .col:nth-child(n+3) .post {
    margin-bottom: 15px;
    padding-bottom: 15px;
  }
  .blog-layout.layout-4 .post:last-child {
    margin-bottom: 15px;
    padding-bottom: 15px;
  }
  .blog-layout.layout-4 .post.first .post-thumb {
    height: 275px;
  }
  .blog-layout.layout-4 .post:last-child {
    margin-bottom: 30px;
  }
  .blog-layout.layout-5 .post.first {
    margin-bottom: 30px;
  }
  .blog-layout.layout-6 .post:nth-child(n+3) {
    margin-bottom: 15px;
    padding-bottom: 15px;
  }
  .blog-layout.layout-6 .post.first .post-thumb {
    width: 100%;
    float: none;
    height: 275px;
    margin-bottom: 20px;
  }
  .blog-layout.layout-6 .post.first .post-content {
    padding: 0;
    width: 100%;
  }
  .blog-layout.layout-7.tiny-thumb .col:first-child {
    margin-bottom: 30px;
  }
  .blog-layout.layout-8 .post .post-thumb {
    width: 100%;
    float: none;
    margin-bottom: 20px;
  }
  .blog-layout.layout-8 .post .post-content {
    width: 100%;
    padding: 0;
  }
  .post-header .post-title {
    font-size: 25pt;
    line-height: 25pt;
  }
  .post-share ul li.facebook a, .post-share ul li.twitter a {
    padding: 0;
  }
  .post-share ul li.facebook, .post-share ul li.twitter {
    width: 42px;
  }
  .post-share ul li.facebook span, .post-share ul li.twitter span {
    display: none;
  }
  .post-share ul li.facebook i, .post-share ul li.twitter i {
    margin: 0;
  }
  .post-related .post {
    margin-bottom: 30px;
  }
  .post-related .col:last-child .post {
    margin-bottom: 0;
  }
  .post-recommended .col:nth-child(n+3) .post {
    margin-bottom: 15px;
    padding-bottom: 15px;
  }
  .post-recommended .col:last-child .post {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  #copyrights .copytext {
    float: none;
    text-align: center;
    margin-bottom: 20px;
  }
  #copyrights .pages {
    float: none;
    text-align: center;
  }
  #copyrights .pages .widget {
    display: inline-block;
    margin: 0;
  }
}
@media (min-width:480px) and (max-width:767px) {
  .container {
    width: 90%;
  }
  .header-content {
    height: auto;
  }
  .header-content .logo-container {
    float: none;
    height: 50px;
    margin-bottom: 30px;
  }
  .header-content .logo-container .logo {
    margin: auto;
  }
  .header-content .ad-container {
    float: none;
    height: auto;
  }
  .mainmenu .menu {
    display: none;
  }
  .mainmenu .menu-tigger {
    display: block;
  }
  header.header#layout2 .mainmenu .container {
    height: auto;
  }
  header.header#layout2 .mainmenu .menu {
    display: none;
  }
  header.header#layout2 .mainmenu .menu-tigger {
    float: right;
    height: 70px;
    padding: 0;
    margin-left: 20px;
  }
  header.header#layout3 .mainmenu .container {
    height: auto;
  }
  header.header#layout3 .mainmenu .menu {
    display: none;
  }
  header.header#layout3 .mainmenu .menu-tigger {
    padding: 0;
    color: #111;
  }
  .featured-posts.layout1 .post.has-caption .post-content {
    left: 10%;
    right: 10%;
  }
  .blog-layout.layout-3 .col:nth-child(n+3) .post {
    margin-bottom: 15px;
    padding-bottom: 15px;
  }
  .blog-layout.layout-4 .post:last-child {
    margin-bottom: 15px;
    padding-bottom: 15px;
  }
  .post .post-thumb {
    height: auto !important;
  }
  .post-header .post-title {
    font-size: 25pt;
    line-height: 25pt;
  }
  .post-share ul li.facebook a, .post-share ul li.twitter a {
    padding: 0;
  }
  .post-share ul li.facebook, .post-share ul li.twitter {
    width: 42px;
  }
  .post-share ul li.facebook span, .post-share ul li.twitter span {
    display: none;
  }
  .post-share ul li.facebook i, .post-share ul li.twitter i {
    margin: 0;
  }
  .post-related .post {
    margin-bottom: 30px;
  }
  .post-related .col:last-child .post {
    margin-bottom: 0;
  }
  .post-recommended .col:nth-child(n+3) .post {
    margin-bottom: 15px;
    padding-bottom: 15px;
  }
  .post-recommended .col:last-child .post {
    margin-bottom: 0;
    padding-bottom: 0;
  }
  #sidebar .instagram-feeds a:last-child {
    display: none;
  }
  #copyrights .copytext {
    float: none;
    text-align: center;
    margin-bottom: 20px;
  }
  #copyrights .pages {
    float: none;
    text-align: center;
  }
  #copyrights .pages .widget {
    display: inline-block;
    margin: 0;
  }

}

/* Desktop Size : sm */

@media (min-width:768px) and (max-width:991px) {
  .container {
    width: 750px;
  }
  .ad-container {
    width: 70%;
  }
  .mainmenu .menu>ul>li>a {
    padding: 0 10px !important;
  }
  .megamenu .post .post-thumb {
    height: 80px;
  }
  header.header#layout2 .mainmenu .container {
    height: auto;
  }
  header.header#layout2 .mainmenu .menu {
    display: none;
  }
  header.header#layout2 .mainmenu .menu-tigger {
    display: block;
    float: right;
    height: 70px;
    padding: 0;
    margin-left: 20px;
  }
  .featured-posts.layout1 .post.has-caption .post-content {
    left: 10%;
    right: 10%;
  }
  .featured-posts .first .post {
    height: 300px;
  }
  .trending-posts .post .post-thumb {
    height: 120px;
    margin-bottom: 10px;
  }
  .social-counter a {
      width: 32%;
  }
  .social-counter a .label {
      display: block;
      padding-right: 15px;
  }

}

/* Desktop Size : md */

@media (min-width:992px) and (max-width:1199px) {
  body:not(.page) #main-area {
    border-top: 1px solid #eee;
    overflow: hidden;
    clear: both;
  }
  #main-area:not(.fullwidth) #main {
    border-right: 1px solid #eee;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  #main-area:not(.fullwidth) #sidebar {
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  #main-area.has-left-sidebar #main {
    border: 0;
    border-left: 1px solid #eee;
    padding-left: 30px;
    padding-right: 15px;
  }
  #main-area.has-left-sidebar #sidebar {
    padding-left: 15px;
    padding-right: 30px;
  }
  .mainmenu .menu>ul>li>a {
    padding: 0 15px;
  }
  .megamenu .post .post-thumb {
    height: 110px;
  }
  .featured-posts.no-margin {
      margin-bottom: 1px;
  }
  .featured-posts.layout3 .first .post .post-title {
      font-size: 30px;
      line-height: normal;
  }
  .featured-posts.layout2 .first .post {
    height: 450px;
  }
  .trending-posts .post .post-thumb {
    height: 128px;
  }
  .social-icons a {
    width: 40px;
    height: 40px;
    line-height: 39px;
  }
  .blog-layout.has-slider .post .post-category {
    padding: 0 1px;
  }
  .blog-layout.layout-4 .post.first .post-thumb {
    height: 275px;
  }
  .blog-layout.layout-4 .post .post-thumb {
    height: 128px;
  }
  .blog-layout.layout-3 .post-thumb {
    height: 128px;
  }
  .blog-layout.layout-5 .post.first .post-thumb {
    height: 200px;
  }
  .blog-layout.layout-2 .post-thumb {
    height: 200px;
  }
  .blog-layout.layout-6 .post.first .post-thumb {
    height: 169px;
  }
  .blog-layout.layout-7 .post.first .post-thumb {
    height: 200px;
  }
  .blog-layout.layout-1 .post:not(.first) .post-thumb {
    height: 200px;
  }
  .blog-layout.layout-8 .post .post-thumb {
    height: 190px;
  }
  .has-gallery .post .post-thumb {
    min-height: 157px;
    height: 157px;
  }
  .post-header .post-title {
    font-size: 29pt;
    line-height: 29pt;
  }
  .post-share ul li.facebook a, .post-share ul li.twitter a {
    padding: 0 25px;
  }
  .post-related .post .post-thumb {
    height: 125px;
  }
  .social-counter a {
      margin: 0 4px 4px 0;
      width: 32%;
  }
  .social-counter a i {
      margin-right: 10px;
  }
  .social-counter a .count {
      font-size: inherit;
  }

}

/* Desktop Size : lg */

@media (min-width:1200px) {
  body.layout-boxed #wrapper {
    width: 1200px;
    margin: 0 auto;
  }
  body.layout-framed #wrapper {
    width: 1200px;
    margin: 30px auto;
  }
  .featured-posts.no-margin {
      margin-bottom: 1px;
  }
  body:not(.page) #main-area {
    border-top: 1px solid #eee;
    overflow: hidden;
    clear: both;
  }
  #main-area:not(.fullwidth) #main {
    border-right: 1px solid #eee;
    padding-right: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  #main-area:not(.fullwidth) #sidebar {
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  #main-area.has-left-sidebar #main {
    border: 0;
    border-left: 1px solid #eee;
    padding-left: 30px;
    padding-right: 15px;
  }
  #main-area.has-left-sidebar #sidebar {
    padding-left: 15px;
    padding-right: 30px;
  }
  .status-message {
      margin-bottom: 0;
  }
  .fullwdith .post-related .post .post-thumb {
      height: 220px;
  }

  button #openMenu {
    display: none;
  }
}


 @media only screen and (min-width : 991px) {
) 
button #openMenu.btn.btn-default.ng-scope {
    display: block !important;

  }
}

@media only screen and (min-width: 1281px) {
  div#homevideos.container {
width:90%; 

  }

  div.city-selected {
     margin-top: 80px; 
     margin-left: 50px; 
  }

 
}

@media (min-width:730px) and (max-width: 2000px){

 div#logonav2.logo-container {
    display: none;

  }
}
