  <!-- Slider Start -->
  <section id="slider">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-2">
          <div class="block">
            <h2 class="animated fadeInUp"> <!-- <br>WEB &#38; APP DEVELOPEMENT</h1> -->
                <div class="title">
                  <div class="title-word">New Old Road</div>
                  <div class="title-word">App &amp; Web</div>
                  <div class="title-word">Dev Studio</div>
                </div>
              </h2>
            <!--               <p class="animated fadeInUp">
                Bridging the gap between cutting edge technology <br> and customized techniques.
              </p> -->
            <p class="animated fadeInUp">
              Don't waste your time and money dealing with bad app and web developers. <br>
              We are your technology insiders.
            </p>





          </div>
          <br>
          <a href="contact#message" class="getquotebtn" style="font-family: raleway ;letter-spacing: 1px;font-size: 19px;">GET A QUOTE</a>

          <!-- block -->
        </div>
        <!-- "col-md-10 col-md-offset-2" -->
      </div>
      <!-- row -->
    </div>
    <!-- Container -->
  </section>

  <!-- Wrapper Start -->
  <section id="feature">
    <div id="feature-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-md-offset-6 col-sm-7 col-sm-offset-5">
            <h2>NEED AN APP OR A WEBSITE?</h2>
              <p>Of course you do. It doesn’t matter if you’re a budding entrepreneur or an established business; a photographer, actor or model; real estate agent or doctor; a freelancer or an agency. Maybe have an idea for the next billion-dollar app. Whatever your situation, if you want to make money in 2017, you need a modern-looking, functional, state-of-the-art online platform and you need it done right.</p>
            <h2>WHO CAN YOU TRUST WITH YOUR APP OR WEBSITE?</h2>
              <p>The main problem is that there are so many options out there that you are left wondering who to trust. We hate to break it to you, but you have good reason to be scared of the options. In fact, New Old Road was started to counter the frustration our friends were having trying to get a quality online presence built. </p>
              <p>We realized that working with web developers was often a minefield of problems that ranged from overpromising freelancers, outsourced teams that couldn’t understand the vision and were impossible to communicate with, and large development firms that were more concerned with being done with you and your product in order to move onto the next one instead of catering to your individual needs.</p> 
              <p>Let’s put it to you this way: If you need a 15-point car tune-up, would you go to a window tinting shop? If you need open-heart surgery, would you go to a chiropractor on the other side of the world where there are communication barriers? Would you go to Macy’s for a custom suit? This is essentially what smart business people do when they waste months of their time and thousands of dollars working with these many different types of web developers.</p>
            <h2>WHAT MAKES NEW OLD ROAD DIFFERENT?</h2>
              <p>The difference with New Old Road is that we were once in your shoes and we understand your problem. We are an in-house team of experienced designers, coders, programmers and web developers who each have a defined role and skill set that complements each other. This means that you don’t have to rely on one person to do everything. The difference is that our main focus is exceptional communication so we can understand your vision, design the product according to your specifications to ensure that you get exactly the app or website you want. The difference is that we are an intimate studio who cares about our clients and wants to make sure you are happy instead of worrying about the next ten projects we have lined up.</p>
              <p> With locations in Los Angeles, California and Tel Aviv, Israel, two of the fastest-growing tech hubs in the world, we are easily accessible to not only the sun but more importantly to you. We are willing to meet with you face-to-face or through video to prove that we're not just great at what we do, we're easy to talk to and get along with as well. Click on the button to the right or go to our "Contact Us" page to get a free quote.</p>

            <a ui-sref="work" class="btn btn-view-works">View Our Work</a>
            <a ui-sref="contact" class="btn btn-view-works">Contact Us</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Our services -->
  <section id="service">
    <div class="container">
      <div class="row">
        <div class="zoomInRight">
        <div class="section-title" id="services">
          <br>
          <br>
          <h2>Our Services</h2>
          <br>

          <p class="animated fadeInUp">From inception to deployment; from marketing to management; <br>
          New Old Road Tech is your one-stop in-house app and web development studio for everything you need to <br>
          ensure your company has the online presence it needs to grow in 2017.</p>

            <h4 style="color:#FB4F14"><strong>Stop settling.</strong></h4>
        </div>
      </div>
      <div class="row ">
        <div class="col-sm-6 col-md-3">
          <div class="service-item">
            <i class="fa fa-suitcase"></i>
            <h4>Business Consulation</h4>
            <p>This isn't our first rodeo. We have the experience and expertise to help you define and refine your business model. After all, isn't the goal to not only have a product, but to make money from it?</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="service-item">
            <i class="fa fa-lightbulb-o"></i>
            <h4>Branding</h4>
            <p>By knowing not only your audience, but more importantly how to tap into their resources, we can begin to mold how your target demographic interacts with your products.</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="service-item">
            <i class="fa fa-pencil"></i>
            <h4>UI/UX Design</h4>
            <p>Users judge based on design. Whether or not you already have a mapped out idea for your product's design, we work hand-in-hand with you to create your company's vision.</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="service-item">
            <i class="fa fa-laptop"></i>
            <h4>App &amp; Web Development</h4>
            <p>Now that we know how your new product will look and function, we can actually put that vision to life using best-business practices by employing the latest in development technologies.</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="service-item">
            <i class="fa fa-rocket"></i>
            <h4>Launch</h4>
            <p>You have the code, but now what? We help launch your product by either deploying it to your web host or submitting it to the Google Play and App Stores for approval.</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="service-item">
            <i class="fa fa-line-chart"></i>
            <h4>SEO / Marketing</h4>
            <p>If an app launches in the app store and no one is around to use it, does it make a sound? Now that your product is up and running, we ensure that it is welcomed with raving approval by real life users.</p>
          </div>
        </div>
      <!-- </div> -->
        <div class="col-sm-6 col-md-3">
          <div class="service-item">
            <i class="fa fa-cogs"></i>
            <h4>Product Managment / Upgrades</h4>
            <p>Getting someone to do it right the first time is hard enough. That's why you called us. We are here to build new versions whether or not you built your MVP with us.</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="service-item">
            <i class="fa fa-users"></i>
            <h4>Partnerships</h4>
            <p>Scaling a business is exciting but also scary. Making sure your web product grows with your business should be the least of your worries. We partner with growing companies so you can focus on making money.</p>
          </div></div>
        </div>
      </div>
    </div>
  </section>

  <section id="intro">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-sm-7">
            <div class="block">
              <div class="section-title">
                <h2>About Us</h2>
              </div>

              <br>
                <p>We know we live in a crazy, fast-paced age of information. So many people and companies have incredible, inventive ideas or simply need to promote their business online but don't really know how to go about it.  Between the plethora of options and misinformation, it's easy to feel lost and overwhelmed. The most frustrating thing faced by business owners and visionaries alike is the lack of dedication by some companies and the incompetence of others. To be more specific, delay in delivery, delay in revisions, turbulent communication, and shoddy code have been the most disturbing experiences for business owners dealing with web design and development companies.</p>
                <p>Enter <strong style="color:#FB4F14">New Old Road Tech</strong>. From building revolutionary apps to providing a powerful, easy-to-find online presence, New Old Road is here to make sure your needs are met with professionalism and courtesy. Because we excel at the newest trends and technologies, we are well equipped to make any dream a reality. Our most important goal, however, is to make sure there is in-depth communication from pre-design to launch and beyond. We're not here to turn over countless projects and move on, we're here to cater to our customers and ensure we enjoy a life-long relationship. <br>

              </p>
            </div>
          </div>

          <div class="snip1461 col-md-5 col-md-offset-6 col-sm-4 col-sm-offset-7">
            <div class="block company_img" id="tilt">
              <img src="img/placeit.png" alt="Img">
           </div>

        </div>
      </div>
    </div>
    <br>

    <!-- Call to action Start -->
    <!-- <h1 class="elegantshd" id="team">Our Team</h1> -->
<!--   <section id="team">
    <div class="text-center">
      <div class="section-title">
      <br>
      <br>
        <a href="#team"><h2 class="shake">Our Team</h2></a>
      </div>
      <br>
      <br>
      <figure class="snip1091 navy"><img src="img/maynard.png" alt="sq-sample6" />
        <figcaption>
          <h3>Maynard  <span>Breslow</span></h3>
          <h3 style="color: white;">Marketing / Development</h3>
        </figcaption>
      </figure>
      <figure class="snip1091 navy"><img src="img/aleksandra.jpg" alt="sq-sample14" />
        <figcaption>
          <h3>Aleksandra   <span>Samsonovitch</span></h3>
          <h3 style="color: white;">UI/UX Design<h3/>
        </figcaption>
      </figure>
      <figure class="snip1091 navy">
        <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAxiAAAAJDJjNGE4MGRmLTVmYTUtNDc1ZS05MjQ3LWViZWM3OGI4OTRhNQ.jpg" alt="sq-sample10" />
        <figcaption>
          <h3>Arkadi  <span>Zavurov</span></h3>
          <h3 style="color: white;">Full-Stack Development</h3>
        </figcaption>
      </figure>
      <figure class="snip1091 navy"><img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAwNAAAAJGI1MzU2NGEzLTc4ODgtNGQxMC1iODRiLWEwNzVmNjA1NTgwYQ.jpg" alt="sq-sample10" />
        <figcaption>
          <h3>Arik  <span>Aviv</span></h3>
          <h3 style="color: white;">Full-Stack Development<h3>
        </figcaption>
      </figure>
    </div>
  </section> -->

    <section id="call-to-action">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="block">

              <h2>Code is in our DNA.</h2>
          <br>
            <div id="element">
              <div id="segment_frame">
              <div id="segment21_1"></div>
              <div id="segment21_2"></div>
              <div id="segment21_3"></div>
              <div id="segment21_4"></div>
              <div id="segment21_5"></div>
              <div id="segment21_6"></div>
              <div id="segment21_7"></div>
              <div id="segment21_8"></div>
              <div id="segment21_9"></div>
              <div id="segment21_10"></div>
            </div>
            <br>
              <h2>Do you have a business or app idea<br>
                but still don't have an app?</h2>
              <h4>The first step is in YOUR HANDS.
                              Let's see if we're a good fit.</h4>
          <br>
              <a href="contact#message" class="getquotebtn" id="first">GET A QUOTE</a>
            </div>
          </div>
        </div>
      </div>
    </section>


  <!-- Content Start -->
  <!--  <section id="testimonial">
      <div class="container">
        <div class="row">
          <div class="section-title text-center"> -->
  <!-- <h2>Our Team</h2> -->
  <!--   <h1 class="elegantshd"> OUR TEAM</h1> -->

  <!--  <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p> -->
  <!--    </div>
        </div>
        <div class="row">
          <div class="col-md-6"> -->
  <!-- <div class="block">
              <ul class="counter-box clearfix">
                <li>
                  <div class="block">
                    <i class="ion-ios-chatboxes-outline"></i>
                    <h4 class="counter">20000</h4>
                    <span>Cups Of Coffee</span>
                  </div>
                </li>
                <li>
                  <div class="block">
                    <i class="ion-ios-glasses-outline"></i>
                    <h4 class="counter">20000</h4>
                    <span>Cups Of Coffee</span>
                  </div>
                </li>
                <li>
                  <div class="block">
                    <i class="ion-ios-compose-outline"></i>
                    <h4 class="counter">20000</h4>
                    <span>Cups Of Coffee</span>
                  </div>
                </li>
                <li>
                  <div class="block">
                    <i class="ion-ios-timer-outline"></i>
                    <h4 class="counter">20000</h4>
                    <span>Cups Of Coffee</span>
                  </div>
                </li>

              </ul>
            </div>
          </div> -->
  <!--  <div class="col-md-6">
            <div class="testimonial-carousel">
              <div id="testimonial-slider" class="owl-carousel">
                <div>
                    <img src="img/cotation.png" alt="IMG">
                    <p>"This Company created an e-commerce site with the tools to make our business a success, with innovative ideas we feel that our site has unique elements that make us stand out from the crowd."</p>
                    <div class="user">
                      <img src="img/item-img1.jpg" alt="Pepole">
                      <p><span>Rose Ray</span> CEO-Themefisher</p>
                    </div>
                </div>
                <div>
                  <img src="img/cotation.png" alt="IMG">
                    <p>"This Company created an e-commerce site with the tools to make our business a success, with innovative ideas we feel that our site has unique elements that make us stand out from the crowd."</p>
                    <div class="user">
                      <img src="img/item-img1.jpg" alt="Pepole">
                      <p><span>Rose Ray</span> CEO-Themefisher</p>
                    </div>
                </div>
                <div>
                  <img src="img/cotation.png" alt="IMG">
                    <p>"This Company created an e-commerce site with the tools to make our business a success, with innovative ideas we feel that our site has unique elements that make us stand out from the crowd."</p>
                    <div class="user">
                      <img src="img/item-img1.jpg" alt="Pepole">
                      <p><span>Rose Ray</span> CEO-Themefisher</p>
                    </div>
                </div>
                <div>
                  <img src="img/cotation.png" alt="IMG">
                    <p>"This Company created an e-commerce site with the tools to make our business a success, with innovative ideas we feel that our site has unique elements that make us stand out from the crowd."</p>
                    <div class="user">
                      <img src="img/item-img1.jpg" alt="Pepole">
                      <p><span>Rose Ray</span> CEO-Themefisher</p>
                    </div> -->
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-104097416-1', 'auto');
  ga('send', 'pageview');

</script>
