  <!-- Slider Start -->
  <section id="slider">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-2">
          <div class="block">
            <h2 class="animated fadeInUp"> <!-- <br>WEB &#38; APP DEVELOPEMENT</h1> -->
                <div class="title">
                  <div class="title-word">New Old Road</div>
                  <div class="title-word">App &amp; Web</div>
                  <div class="title-word">Dev Studio</div>
                </div>
              </h2>
            <!--               <p class="animated fadeInUp">
                Bridging the gap between cutting edge technology <br> and customized techniques.
              </p> -->
            <p class="animated fadeInUp">
              Go from app-less to enterprise. <br>
               We'll walk with you every step of the way.
            </p>

            <a class="button quote_btn normal_a" href="contact#message">GET A QUOTE</a>
          </div>

          <!-- block -->
        </div>
        <!-- "col-md-10 col-md-offset-2" -->
      </div>
      <!-- row -->
    </div>
    <!-- Container -->
  </section>

  <section id="service">
    <div class="container">
      <div class="row">
        <div class="section-title" id="services">
          <h2>Our Services</h2>
          <p>From inception to deployment; from marketing to management; New Old Road is your one-stop in-house studio for everything you need to ensure your company is able to grow without a hitch. Your success is our success.</p>
        </div>
      </div>
      <div class="row ">
        <div class="col-sm-6 col-md-3">
          <div class="service-item">
            <i class="fa fa-suitcase"></i>
            <h4>Business Consulation</h4>
            <p>This isn't our first rodeo. We have the experience and expertise to help you define and refine your business model. After all, isn't the goal to not only have a product, but to make money from it?</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="service-item">
            <i class="fa fa-lightbulb-o"></i>
            <h4>Branding</h4>
            <p>By knowing not only your audience, but more importantly how to tap into their resources, we can begin to mold how your target demographic intereacts with your products.</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="service-item">
            <i class="fa fa-pencil"></i>
            <h4>UI/UX Design</h4>
            <p>Users judge based on design. Whether or not you already have a mapped out idea for your product's design, we work hand-in-hand with you to create your company's vision.</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="service-item">
            <i class="fa fa-laptop"></i>
            <h4>App &amp; Web Development</h4>
            <p>Now that we know how your new product will look and function, we can actually put that vision to life using best-business practices by employing the latest in development technologies.</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="service-item">
            <i class="fa fa-rocket"></i>
            <h4>Launch</h4>
            <p>You have the code, but now what? We help launch your product by either deploying it to your web host or submitting it to the Google Play and App Stores for approval.</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="service-item">
            <i class="fa fa-line-chart"></i>
            <h4>SEO / Marketing</h4>
            <p>If a tree falls in a forrest and no one is around to hear it, does it make a sound? Now that your product is up and running, we ensure that it is welcomed with raving approval by real life users.</p>
          </div>
        </div>
      <!-- </div> -->
        <div class="col-sm-6 col-md-3">
          <div class="service-item">
            <i class="fa fa-cogs"></i>
            <h4>Product Managment / Upgrades</h4>
            <p>Getting someone to do it right the first time is hard enough. That's why you called us. We are here to build new versions whether or not you built your MVP with us.</p>
          </div>
        </div>
        <div class="col-sm-6 col-md-3">
          <div class="service-item">
            <i class="fa fa-users"></i>
            <h4>Partnerships</h4>
            <p>Scaling a business is exciting but also scary. Making sure your product grows with your business should be the least of your worries. We partner with growing companies so you can focus on making money.</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Wrapper Start -->
  <section id="feature">
    <div class="container">
      <div class="row">
        <div class="col-md-5 col-md-offset-6">
          <h2>WE BELIEVE IN GREAT IDEAS</h2>
          <p>Aside from impeccable design and delivery, we also specialize in getting your product or business noticed and drive sales. From marketing, to SEO; from social media to branding, we are the quintessential one-stop-shop for all things technology and media.</p>
          <p>With locations in Los Angeles and Tel Aviv, two of the fastest-growing tech hubs in the world, we are easily accessible to not only the sun but our clients. We are willing to meet with you face-to-face or through video to prove that we're not just great at what we do, we're easy to talk to and get along with as well. We can't wait to meet you and hear about your amazing ideas.</p>
          <a ui-sref="work" class="btn btn-view-works">View Work</a>
          <a ui-sref="contact" class="btn btn-view-works">Reach Out</a>
        </div>
      </div>
    </div>
  </section>

  <section id="intro">
      <div class="container">
        <div class="row">
          <div class="col-md-7 col-sm-12">
            <div class="block">
              <div class="section-title">
                <h2>About Us</h2>
              </div>
                <p>We know we live in a crazy, fast-paced age of information. So many people and companies have incredible, inventive ideas or simply need to promote their business online but don't really know how to go about it.  Between the plethora of options and misinformation, it's easy to feel lost and overwhelmed. The most frustrating thing faced by business owners and visionaries alike is the lack of dedication by some companies and the incompetence of others. To be more specific, delay in delivery, delay in revisions, turbulent communication, and shoddy code have been the most disturbing experiences for business owners dealing with web design and development companies.</p>
                <p>Enter New Old Road Tech. From building revolutionary apps to providing a powerful, easy-to-find online presence, New Old Road is here to make sure your needs are met with professionalism and courtesy. Because we excel at the newest trends and technologies, we are well equipped to make any dream a reality. Our most important goal, however, is to make sure there is in-depth communication from pre-design to launch and beyond. We're not here to turn over countless projects and move on, we're here to cater to our customers and ensure we enjoy a life-long relationship. <br>
​
              </p>
            </div>
          </div><!-- .col-md-7 close -->
          <div class="snip1461">
            <div class="block" id="tilt">
              <img src="img/placeit.png" alt="Img">
           </div>
        </div>
        <!-- .col-md-5 close -->
      </div>
    </div>


    <!-- Call to action Start -->
    <h1 class="elegantshd" id="team">Our Team</h1>
    <div class="text-center">
      <figure class="snip1091 navy"><img src="img/maynard.png" alt="sq-sample6" />
        <figcaption>
          <h2>Maynard  <span>Breslow</span></h2>
          <h3 style="color: white;">Marketing / Development<h3>
        </figcaption>
      </figure>
      <figure class="snip1091 navy"><img src="img/aleksandra.jpg" alt="sq-sample14" />
        <figcaption>
          <h2>Aleksandra   <span>Samsonovitch</span></h2>
          <h3 style="color: white;">UI/UX Design<h3>
        </figcaption>
      </figure>
      <figure class="snip1091 navy"><img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAxiAAAAJDJjNGE4MGRmLTVmYTUtNDc1ZS05MjQ3LWViZWM3OGI4OTRhNQ.jpg" alt="sq-sample10" />
        <figcaption>
          <h2>Arkadi  <span>Zavurov</span></h2>
          <h3 style="color: white;">Full-Stack Development<h3>
        </figcaption>
      </figure>
      <figure class="snip1091 navy"><img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAwNAAAAJGI1MzU2NGEzLTc4ODgtNGQxMC1iODRiLWEwNzVmNjA1NTgwYQ.jpg" alt="sq-sample10" />
        <figcaption>
          <h2>Arik  <span>Aviv</span></h2>
          <h3 style="color: white;">Full-Stack Development<h3>
        </figcaption>
      </figure>


    </div>
  </section>

    <section id="call-to-action">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="block">
              <h2>Do you have a business or app idea but still don't have an app?</h2>
              <p>The first step is in YOUR HANDS. Let's see if we're a good fit.</p>
              <a class="normal_a quote_btn" class="btn btn-default btn-call-to-action" href="contact#message">GET A QUOTE</a>
            </div>
          </div>
        </div>
      </div>

  </section>
  <!-- Content Start -->
  <!--  <section id="testimonial">
      <div class="container">
        <div class="row">
          <div class="section-title text-center"> -->
  <!-- <h2>Our Team</h2> -->
  <!--   <h1 class="elegantshd"> OUR TEAM</h1> -->

  <!--  <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics</p> -->
  <!--    </div>
        </div>
        <div class="row">
          <div class="col-md-6"> -->
  <!-- <div class="block">
              <ul class="counter-box clearfix">
                <li>
                  <div class="block">
                    <i class="ion-ios-chatboxes-outline"></i>
                    <h4 class="counter">20000</h4>
                    <span>Cups Of Coffee</span>
                  </div>
                </li>
                <li>
                  <div class="block">
                    <i class="ion-ios-glasses-outline"></i>
                    <h4 class="counter">20000</h4>
                    <span>Cups Of Coffee</span>
                  </div>
                </li>
                <li>
                  <div class="block">
                    <i class="ion-ios-compose-outline"></i>
                    <h4 class="counter">20000</h4>
                    <span>Cups Of Coffee</span>
                  </div>
                </li>
                <li>
                  <div class="block">
                    <i class="ion-ios-timer-outline"></i>
                    <h4 class="counter">20000</h4>
                    <span>Cups Of Coffee</span>
                  </div>
                </li>

              </ul>
            </div>
          </div> -->
  <!--  <div class="col-md-6">
            <div class="testimonial-carousel">
              <div id="testimonial-slider" class="owl-carousel">
                <div>
                    <img src="img/cotation.png" alt="IMG">
                    <p>"This Company created an e-commerce site with the tools to make our business a success, with innovative ideas we feel that our site has unique elements that make us stand out from the crowd."</p>
                    <div class="user">
                      <img src="img/item-img1.jpg" alt="Pepole">
                      <p><span>Rose Ray</span> CEO-Themefisher</p>
                    </div>
                </div>
                <div>
                  <img src="img/cotation.png" alt="IMG">
                    <p>"This Company created an e-commerce site with the tools to make our business a success, with innovative ideas we feel that our site has unique elements that make us stand out from the crowd."</p>
                    <div class="user">
                      <img src="img/item-img1.jpg" alt="Pepole">
                      <p><span>Rose Ray</span> CEO-Themefisher</p>
                    </div>
                </div>
                <div>
                  <img src="img/cotation.png" alt="IMG">
                    <p>"This Company created an e-commerce site with the tools to make our business a success, with innovative ideas we feel that our site has unique elements that make us stand out from the crowd."</p>
                    <div class="user">
                      <img src="img/item-img1.jpg" alt="Pepole">
                      <p><span>Rose Ray</span> CEO-Themefisher</p>
                    </div>
                </div>
                <div>
                  <img src="img/cotation.png" alt="IMG">
                    <p>"This Company created an e-commerce site with the tools to make our business a success, with innovative ideas we feel that our site has unique elements that make us stand out from the crowd."</p>
                    <div class="user">
                      <img src="img/item-img1.jpg" alt="Pepole">
                      <p><span>Rose Ray</span> CEO-Themefisher</p>
                    </div> -->

                    <script>
                      $(document).ready(function() {
                          var s = $("#navbar1");
                          var pos = s.position();
                          $(window).scroll(function() {
                              var windowpos = $(window).scrollTop();

                              if (windowpos >= pos.top) {
                                  s.addClass("stick");
                              } else {
                                  s.removeClass("stick");
                              }
                          });
                      });
                    </script>
