<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h3 class="animated fadeInUp"> <!-- <br>WEB &#38; APP DEVELOPEMENT</h1> -->
            <div class="title">
              <div class="title-word">Just some</div>
              <div class="title-word">of our latest</div>
              <div class="title-word">&amp; greatest.</div>
            </div>
          </h3>
          <p>Don’t just take our word for it. Check out a few of our projects.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Portfolio Start -->
<section id="portfolio-work">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <div class="col-md-8 col-md-offset-4">
            <h3 class="animated fadeInUp">Under Construction</h3>
          </div>   
          <div class="col-md-10 col-md-offset-2">
          <p>Artists don't usually share their work before it's finished, but you might like to see what's coming up.</p> 
          </div>
          <div class="portfoliodisplay">
            <figure class="snip1462">
              <img src="img/emunah.png" alt="sample76" id="tilt"/>
                <h3>Emunah.com</h3>
                <p><strong>Robust web app with YouTube API</strong></p>
                <div class="position-center">
                  <p>Emunah.com is a web application that displays over 1,200 YouTube videos without having to save any of the videos in the server. It also has a payment system to handle donations and subscriptions. Users can sign up using their Facebook or Google accounts and access premium content.</p>
                </div>
            </figure>
            <figure class="snip1462">
              <img src="img/danktickets.png" alt="sample76" id="tilt"/>
                <h3>Dank Tickets</h3>
                <p><strong>Event creation and ticketing web app</strong></p>
                <div class="position-center">
                  <p>Dank Tickets allows users to sign up using their Facebook and Google accounts and create events for specific conventions. Users can then purchase and download tickets for the event. Events can be managed through the organizer dashboard.</p>
                </div>
            </figure>
            <figure class="snip1462">
              <img src="img/versus.png" alt="sample76" id="tilt"/>
                <h3>vrsUs</h3>
                <p><strong>Video Competition App</strong></p>
                <div class="position-center">
                  <p>vrsUs is a one-on-one video competition app. You can compete by adding your YouTube videos and challenging another artist or be a voter by watching a battle and voting for the video you like better. Artist and voter ratings change based on win percentage.</p>
                </div>
            </figure>
          </div>
        </div>
      </div>
    </div>    
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <div class="col-md-8 col-md-offset-4">
            <h3 class="animated fadeInUp">Already Deployed</h3>  
            </div>    
            <div class="portfoliodisplay">
              
              <figure class="snip1462">
                <img src="img/coindex.png" alt="sample76" id="tilt"/>
                  <h3>Coindex</h3>
                  <p><strong>Cryptocurrency Portfolio Management App</strong></p>
                  <div class="position-center">
                    <p>Available to download for iOS and Android, Coindex is a revolutionary app where users can manage their cryptocurrency portfolios and track their various coins and investments.</p>
                  </div>
              </figure>
              <figure class="snip1462">
                <a href="https://thestruggle-israel.com/" target="_blank">
                  <img src="img/struggle.png" alt="" id="tilt"/>
                </a>
                <figcaption> 
                  <a href="https://thestruggle-israel.com/" target="_blank">
                </figcaption>
                <h3>The Struggle Israel</h3>
                  <p style="color: #002244;"><strong>E-Commerce Shop</strong></p></a>
                  <div class="position-center">
                    <p>The Struggle Israel is a fully-integrated, fully-responsive e-Commerce site complete with shopping cart, payment system, a robust admin dashboard and a sleek, minimalist design.</p>
                  </div>
              </figure>
              <figure class="snip1462">
                <a href="http://www.heywhatsyourface.com" target="_blank">
                  <img src="img/iphone_amphotography.png" alt="sample76" id="tilt"/>
                </a>
                <figcaption>  
                  <a href="http://www.amphotography,herokuapp.com" target="_blank">
                </figcaption>
                  <h3>AM Modeling</h3>
                  <p style="color: #002244;"><strong>Photography and Modeling Portfilio</strong></p></a>
                  <div class="position-center">
                    <p>A stylish and modern photography single page application with animations. The page is broken into sections, making it easy for photographers to display their work over various categories. The site allows you to breakdown each shot into project, camera, </p>
                  </div>
              </figure>
              <figure class="snip1462">
                <a href="https://poolvilla.herokuapp.com/" target="_blank">
                  <img src="img/iphone_poolvilla.png" alt="" id="tilt"/>
                </a>
                <figcaption> 
                  <a href="https://poolvilla.herokuapp.com/" target="_blank">
                </figcaption>
                  <h3>Ibiza Rentals</h3>
                  <p style="color: #002244;"><strong>Real Estate Website Example</strong></p></a>
                  <div class="position-center">
                    <p>This is an example of a real estate website we have built where clients can sign up and book vacation renatals.</p>
                  </div>
              </figure>
              <figure class="snip1462">
                <a href="https://amphoto.herokuapp.com/" target="_blank">
                  <img src="img/iphone_amphoto1.png" alt="" id="tilt"/>
                </a>
                <figcaption> 
                  <a href="https://amphoto.herokuapp.com/" target="_blank">
                </figcaption>
                <h3>AM Photo</h3>
                  <p style="color: #002244;"><strong>Photography Portfolio Example</strong></p></a>
                  <div class="position-center">
                    <p>A stylish and modern photography single page application with animations. The page is broken into sections, making it easy for photographers to display their work over various categories. The site allows you to breakdown each shot into project, camera, </p>
                  </div>
              </figure>
              <figure class="snip1462">
                <a href="http://www.heywhatsyourface.com" target="_blank">
                  <img src="img/whatsyourface.png" alt="sample76" id="tilt"/>
                </a>
                <figcaption>  
                  <a href="http://www.heywhatsyourface.com" target="_blank">
                </figcaption>
                  <h3>Hey Whats Your Face</h3>
                  <p style="color: #002244;"><strong>Grip &amp; Lighting Company</strong></p></a>
                  <div class="position-center">
                    <p>Heywhatsyourface is a basic business site for a local lighting and grip rental company based out of Hollywood, CA. Having a responsive, dynamic site with a full list of services and packages and an effective SEO strategy has increased rentals. </p>
                  </div>
              </figure>
            </div>
          </div>
      </div>
    </div>
  </div>
</section>

    <!-- Clients Logo Section Start -->
<!--     <section id="clients-logo-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="block">
              <div id="clients-logo" class="owl-carousel">
                <div class="clients-logo-img">
                  <img src="img/clients/clients-logo1.png" alt="Features">
                </div>
                <div class="clients-logo-img">
                  <img src="img/clients/clients-logo2.png" alt="Features">
                </div>
                <div class="clients-logo-img">
                  <img src="img/clients/clients-logo3.png" alt="Features">
                </div>
                <div class="clients-logo-img">
                  <img src="img/clients/clients-logo4.png" alt="Features">
                </div>
                <div class="clients-logo-img">
                  <img src="img/clients/clients-logo5.png" alt="Features">
                </div>
                <div class="clients-logo-img">
                  <img src="img/clients/clients-logo3.png" alt="Features">
                </div>
                <div class="clients-logo-img">
                  <img src="img/clients/clients-logo2.png" alt="Features">
                </div>
                <div class="clients-logo-img">
                  <img src="img/clients/clients-logo5.png" alt="Features">
                </div>
                <div class="clients-logo-img">
                  <img src="img/clients/clients-logo1.png" alt="Features">
                </div>
                <div class="clients-logo-img">
                  <img src="img/clients/clients-logo4.png" alt="Features">
                </div>
                <div class="clients-logo-img">
                  <img src="img/clients/clients-logo5.png" alt="Features">
                </div>
                <div class="clients-logo-img">
                  <img src="img/clients/clients-logo3.png" alt="Features">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section> -->


<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>Code is in our DNA.</h2>
          <br>
            <div id="element">
              <div id="segment_frame">
              <div id="segment21_1"></div>
              <div id="segment21_2"></div>
              <div id="segment21_3"></div>
              <div id="segment21_4"></div>
              <div id="segment21_5"></div>
              <div id="segment21_6"></div>
              <div id="segment21_7"></div>
              <div id="segment21_8"></div>
              <div id="segment21_9"></div>
              <div id="segment21_10"></div>
            </div>
            <br>
           <h4> You've seen what we have done for other companies. <br>
              Let's see what we can do for you. </h4> 
              <h3 style="color:white;"><b> Go from app-less to enterprise.</b>
            </h3>
            <br>
           <a href="contact#message" class="getquotebtn" id="first">GET A QUOTE</a>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-104097416-1', 'auto');
  ga('send', 'pageview');

</script>