<!-- Slider Start -->
<section id="slider">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-2">
                <div class="block">
                  <h3 class="animated fadeInUp"> <!-- <br>WEB &#38; APP DEVELOPEMENT</h1> -->
                    <div class="title">
                      <div class="title-word">Just some</div>
                      <div class="title-word">of our latest</div>
                      <div class="title-word">&amp; greatest.</div>
                    </div>
                  </h3>
                  <p>Don’t just take our word for it. Check out a few of our projects.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Portfolio Start -->
<section id="portfolio-work">
  <div class="container">
    <div class="row">
      <div class="col-md-12">

        <div class="block">
  <!-- Portfolio filter -->
<!--                   <div class="portfolio-menu">
            <ul>
                <li class="filter" data-filter="all">Everything</li>
                <li class="filter" data-filter=".Websites">Websites</li>
                <li class="filter" data-filter=".Apps">Apps</li>
            </ul>
          </div>  -->
          <!-- close portfolio-menu -->
          <!-- portfolio items -->

          <div class="portfoliodisplay">       


          <div class="portfoliodisplay">
            <figure class="snip1462">
              <img src="img/versus.png" alt="sample76" id="tilt"/>
                <h3>VrsUs</h3>
                <p><strong>Video Competition App</strong></p>
                <div class="position-center">
                  <p>vrsUs is a one-on-one video competition app. You can compete by adding your YouTube videos and challenging another artist or be a voter by watching a battle and voting for the video you like better. Artist and voter ratings change based on win percentage.</p>
                </div>
            </figure>
            <figure class="snip1462">
              <img src="img/struggle.png" alt="" id="tilt"/>
              <figcaption> 
                <a href="https://thestruggle-israel.com/" target="_blank">
              </figcaption>
              <h3>The Struggle Israel</h3>
                <p><strong>Online Shop</strong></p></a>
                <div class="position-center">
                  <p>The Struggle Israel is a fully integrated, fully responsive eCommerce site complete with shopping cart, payment system, a robust admin dashboard and a sleek, minimalist design.</p>
                </div>
            </figure>
            <figure class="snip1462">
              <img src="img/whatsyourface.png" alt="sample76" id="tilt"/>
              <figcaption>  
                <a href="http://www.heywhatsyourface.com" target="_blank">
              </figcaption>
                <h3>Hey Whats Your Face</h3>
                <p><strong>Grip &amp; Lighting Company</strong></p></a>
                <div class="position-center">
                  <p>Heywhatsyourface is a basic business site for a local lighting and grip rental company based out of Hollywood, CA. Having a responsive, dynamic site with a full list of services and packages and an effective SEO strategy has increased rentals. </p>
                </div>
            </figure>
          </div>







<!--                          <a href="http://www.thestruggle-israel.com" target="_blank">
                        <img src="img/struggle.png" alt="" id="tilt" class="iphoneportfolio">
                       <a href="http://www.heywhatsyourface.com" target="_blank">
                        <img src="img/whatsyourface.png" alt="" id="tilt" class="iphoneportfolio">
                      </div>
                      </a>
                      </div>
                      </li>
                  <li class="mix Websites">
                    <a href="#">
                      <img src="img/portfolio/work2.jpg" alt="">
                      <div class="overly">
                        <div class="position-center">
                          <h2>Tesla Motors</h2>
                          <p>Labore et dolore magna aliqua. Ut enim ad </p>

                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="mix Graphic">
                    <a href="#">
                      <img src="img/portfolio/work3.jpg" alt="">
                      <div class="overly">
                        <div class="position-center">
                          <h2>Tesla Motors</h2>
                          <p>Labore et dolore magna aliqua. Ut enim ad </p>

                        </div>
                      </div>

                    </a>
                  </li>
                  <li class="mix design">
                    <a href="#">
                      <img src="img/portfolio/work4.jpg" alt="">
                      <div class="overly">
                        <div class="position-center">
                          <h2>Tesla Motors</h2>
                          <p>Labore et dolore magna aliqua. Ut enim ad </p>

                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="mix Video">
                    <a href="#">
                      <img src="img/portfolio/work5.jpg" alt="">
                      <div class="overly">
                        <div class="position-center">
                          <h2>Tesla Motors</h2>
                          <p>Labore et dolore magna aliqua. Ut enim ad </p>

                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="mix Graphic">
                    <a href="#">
                      <img src="img/portfolio/work6.jpg" alt="">
                      <div class="overly">
                        <div class="position-center">
                          <h2>Tesla Motors</h2>
                          <p>Labore et dolore magna aliqua. Ut enim ad </p>
                        </div>
                      </div>
                    </a>
                  </li>
                </ul>
              </div> -->
            </div>
          </div>
        </div>
    </div>
</section>

    <!-- Clients Logo Section Start -->
    <!-- <section id="clients-logo-section">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="block">
              <div id="clients-logo" class="owl-carousel">
                <div class="clients-logo-img">
                  <img src="img/clients/clients-logo1.png" alt="Features">
                </div>
                <div class="clients-logo-img">
                  <img src="img/clients/clients-logo2.png" alt="Features">
                </div>
                <div class="clients-logo-img">
                  <img src="img/clients/clients-logo3.png" alt="Features">
                </div>
                <div class="clients-logo-img">
                  <img src="img/clients/clients-logo4.png" alt="Features">
                </div>
                <div class="clients-logo-img">
                  <img src="img/clients/clients-logo5.png" alt="Features">
                </div>
                <div class="clients-logo-img">
                  <img src="img/clients/clients-logo3.png" alt="Features">
                </div>
                <div class="clients-logo-img">
                  <img src="img/clients/clients-logo2.png" alt="Features">
                </div>
                <div class="clients-logo-img">
                  <img src="img/clients/clients-logo5.png" alt="Features">
                </div>
                <div class="clients-logo-img">
                  <img src="img/clients/clients-logo1.png" alt="Features">
                </div>
                <div class="clients-logo-img">
                  <img src="img/clients/clients-logo4.png" alt="Features">
                </div>
                <div class="clients-logo-img">
                  <img src="img/clients/clients-logo5.png" alt="Features">
                </div>
                <div class="clients-logo-img">
                  <img src="img/clients/clients-logo3.png" alt="Features">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
 -->

<!-- Call to action Start -->
<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>Code is in our DNA.</h2>
          <br>
            <div id="element">
              <div id="segment_frame">
              <div id="segment21_1"></div>
              <div id="segment21_2"></div>
              <div id="segment21_3"></div>
              <div id="segment21_4"></div>
              <div id="segment21_5"></div>
              <div id="segment21_6"></div>
              <div id="segment21_7"></div>
              <div id="segment21_8"></div>
              <div id="segment21_9"></div>
              <div id="segment21_10"></div>
            </div>
            <br>
            <h3>You've seen what we have done for other companies. Let's see what we can do for you. Go from app-less to enterprise.</h3>
            <a class="btn btn-default btn-call-to-action" href="contact#message" >GET A QUOTE</a>
        </div>
      </div>
    </div>
  </div>
</section>
